extends ../../views_moltran/layouts/clean-layout
block content
    link(rel='stylesheet' href='/styles/home-page.css')
    .home-page
        .row
            .col-md-6.col-sm-6.col-lg-3
                .mini-stat.clearfix.bx-shadow.bg-info
                    span.mini-stat-icon
                        i.ion-filing
                    .mini-stat-info.text-right
                        span.counter #{block_tracker.eth_current_block}
                        | Blocks Mined
                    .tiles-progress
                        .m-t-20
                            h5.text-uppercase.text-white.m-0 
                                span.pull-right Synced up to Block ##{block_tracker.block_number}
            .col-md-6.col-sm-6.col-lg-3
                .mini-stat.clearfix.bx-shadow.bg-info
                    span.mini-stat-icon
                        i.ion-arrow-graph-up-right
                    .mini-stat-info.text-right
                        span.counter #{transaction_count}
                        | Transactions
                    .tiles-progress
                        .m-t-20
                            h5.text-uppercase.text-white.m-0 
                                span.pull-right Total Transactions
        .row
            .col-md-6
                .panel.panel-color.panel-primary
                    .panel-heading
                        h3.panel-title Last 10 Blocks
                    .panel-body
                        table.latest-blocks-table
                            thead
                                tr
                                    th Block Number
                                    th Miner
                                    th Timestamp
                                    th Transaction Count
                            tbody
                                each block in latest_block_list
                                    tr
                                        td #{block.blockNumber}
                                        td #{block.miner}
                                        td #{block.timestamp}
                                        td #{block.transactionCount}

    script.
        $(document).ready(function() {
            $(".transaction-input-header").click(function(e) {
                e.preventDefault();
                $(this).parent().find(".transaction-input").slideToggle();
            });
        });