extends ../../../views_moltran/layouts/clean-layout
block content
    .transaction-page
        h3 Transactions for block #{block_number}
        table.table.table-striped
            thead
                tr
                    th Transaction Hash (TXN)
                    th Block
                    th Age
                    th From
                    th To
                    th Value
            tbody
                each transaction in transaction_list
                    tr
                        td.address
                            a(href="/transaction/" + transaction.hash) #{transaction.hash}
                        td.address
                            a(href="/block/" + transaction.blockNumber) #{transaction.blockNumber}
                        td.timestamp-diff #{transaction.blockTimestamp}
                        td.address #{transaction.from}
                        td.address #{transaction.to}
                        td.format-habx #{transaction.value}